# Project exclude paths
/frontend src/node_modules/
/frontend src/node_modules/@alptugidin/react-circular-progress-bar/
/frontend src/node_modules/@babel/parser/
/frontend src/node_modules/@babel/types/
/frontend src/node_modules/@eslint/config-array/dist/cjs/index.cjs
/frontend src/node_modules/@eslint/config-array/dist/cjs/std__path/
/frontend src/node_modules/@eslint/config-array/dist/esm/index.js
/frontend src/node_modules/@eslint/config-array/dist/esm/std__path/
/frontend src/node_modules/@eslint/config-array/LICENSE
/frontend src/node_modules/@eslint/config-array/README.md
/frontend src/node_modules/@eslint/config-helpers/dist/cjs/index.cjs
/frontend src/node_modules/@eslint/config-helpers/dist/esm/index.js
/frontend src/node_modules/@eslint/config-helpers/LICENSE
/frontend src/node_modules/@eslint/config-helpers/README.md
/frontend src/node_modules/@eslint/core/LICENSE
/frontend src/node_modules/@eslint/core/README.md
/frontend src/node_modules/@eslint/eslintrc/
/frontend src/node_modules/@eslint/js/
/frontend src/node_modules/@eslint/object-schema/dist/cjs/index.cjs
/frontend src/node_modules/@eslint/object-schema/dist/esm/index.js
/frontend src/node_modules/@eslint/object-schema/LICENSE
/frontend src/node_modules/@eslint/object-schema/README.md
/frontend src/node_modules/@eslint/plugin-kit/dist/cjs/index.cjs
/frontend src/node_modules/@eslint/plugin-kit/dist/esm/index.js
/frontend src/node_modules/@eslint/plugin-kit/LICENSE
/frontend src/node_modules/@eslint/plugin-kit/README.md
/frontend src/node_modules/@eslint-community/eslint-utils/
/frontend src/node_modules/@eslint-community/regexpp/
/frontend src/node_modules/@humanfs/core/
/frontend src/node_modules/@humanfs/node/
/frontend src/node_modules/@humanwhocodes/module-importer/
/frontend src/node_modules/@humanwhocodes/module-importer/dist/module-importer.cjs
/frontend src/node_modules/@humanwhocodes/module-importer/dist/module-importer.js
/frontend src/node_modules/@humanwhocodes/retry/
/frontend src/node_modules/@rollup/pluginutils/dist/cjs/
/frontend src/node_modules/@rollup/pluginutils/dist/es/index.js
/frontend src/node_modules/@rollup/pluginutils/LICENSE
/frontend src/node_modules/@rollup/pluginutils/README.md
/frontend src/node_modules/@svgr/babel-plugin-add-jsx-attribute/
/frontend src/node_modules/@svgr/babel-plugin-remove-jsx-attribute/
/frontend src/node_modules/@svgr/babel-plugin-remove-jsx-empty-expression/
/frontend src/node_modules/@svgr/babel-plugin-replace-jsx-attribute-value/
/frontend src/node_modules/@svgr/babel-plugin-svg-dynamic-title/
/frontend src/node_modules/@svgr/babel-plugin-svg-em-dimensions/
/frontend src/node_modules/@svgr/babel-plugin-transform-react-native-svg/
/frontend src/node_modules/@svgr/babel-plugin-transform-svg-component/
/frontend src/node_modules/@svgr/babel-preset/
/frontend src/node_modules/@svgr/core/
/frontend src/node_modules/@svgr/hast-util-to-babel-ast/
/frontend src/node_modules/@svgr/plugin-jsx/
/frontend src/node_modules/@types/babel__core/LICENSE
/frontend src/node_modules/@types/babel__core/README.md
/frontend src/node_modules/@types/babel__generator/LICENSE
/frontend src/node_modules/@types/babel__generator/README.md
/frontend src/node_modules/@types/babel__template/LICENSE
/frontend src/node_modules/@types/babel__template/README.md
/frontend src/node_modules/@types/babel__traverse/LICENSE
/frontend src/node_modules/@types/babel__traverse/README.md
/frontend src/node_modules/@types/estree/LICENSE
/frontend src/node_modules/@types/estree/README.md
/frontend src/node_modules/@types/json-schema/LICENSE
/frontend src/node_modules/@types/json-schema/README.md
/frontend src/node_modules/@types/react/LICENSE
/frontend src/node_modules/@types/react/README.md
/frontend src/node_modules/@types/react/ts5.0/
/frontend src/node_modules/@types/react-dom/LICENSE
/frontend src/node_modules/@types/react-dom/README.md
/frontend src/node_modules/@vitejs/plugin-react/LICENSE
/frontend src/node_modules/@vitejs/plugin-react/README.md
/frontend src/node_modules/ajv/
/frontend src/node_modules/ansi-styles/
/frontend src/node_modules/camelcase/
/frontend src/node_modules/chalk/
/frontend src/node_modules/clsx/dist/
/frontend src/node_modules/clsx/license
/frontend src/node_modules/clsx/readme.md
/frontend src/node_modules/cookie/
/frontend src/node_modules/cosmiconfig/
/frontend src/node_modules/csstype/
/frontend src/node_modules/dot-case/
/frontend src/node_modules/entities/
/frontend src/node_modules/esbuild/
/frontend src/node_modules/esbuild/lib/main.js
/frontend src/node_modules/escape-string-regexp/
/frontend src/node_modules/eslint/
/frontend src/node_modules/eslint-plugin-react-hooks/
/frontend src/node_modules/eslint-plugin-react-refresh/
/frontend src/node_modules/eslint-visitor-keys/
/frontend src/node_modules/eslint-visitor-keys/dist/eslint-visitor-keys.cjs
/frontend src/node_modules/estree-walker/
/frontend src/node_modules/estree-walker/dist/esm/estree-walker.js
/frontend src/node_modules/estree-walker/dist/umd/
/frontend src/node_modules/estree-walker/types/tsconfig.tsbuildinfo
/frontend src/node_modules/fast-deep-equal/es6/index.js
/frontend src/node_modules/fast-deep-equal/es6/react.js
/frontend src/node_modules/fast-deep-equal/index.js
/frontend src/node_modules/fast-deep-equal/LICENSE
/frontend src/node_modules/fast-deep-equal/react.js
/frontend src/node_modules/fast-deep-equal/README.md
/frontend src/node_modules/fast-json-stable-stringify/
/frontend src/node_modules/fdir/dist/index.cjs
/frontend src/node_modules/fdir/dist/index.mjs
/frontend src/node_modules/fdir/LICENSE
/frontend src/node_modules/fdir/README.md
/frontend src/node_modules/find-up/
/frontend src/node_modules/globals/
/frontend src/node_modules/ignore/
/frontend src/node_modules/import-fresh/
/frontend src/node_modules/locate-path/
/frontend src/node_modules/lower-case/
/frontend src/node_modules/nanoid/
/frontend src/node_modules/nanoid/non-secure/index.cjs
/frontend src/node_modules/nanoid/non-secure/index.js
/frontend src/node_modules/no-case/
/frontend src/node_modules/p-limit/
/frontend src/node_modules/p-locate/
/frontend src/node_modules/path-exists/
/frontend src/node_modules/path-type/
/frontend src/node_modules/picocolors/
/frontend src/node_modules/postcss/
/frontend src/node_modules/react/
/frontend src/node_modules/react-circle-progress-bar/node_modules/
/frontend src/node_modules/react-circle-progress-bar/README.md
/frontend src/node_modules/react-dom/
/frontend src/node_modules/react-router/
/frontend src/node_modules/react-router/dist/development/chunk-B7RQU5TL.mjs
/frontend src/node_modules/react-router/dist/development/chunk-LWNHKVDL.js
/frontend src/node_modules/react-router/dist/development/chunk-PW3F6ATG.js
/frontend src/node_modules/react-router/dist/development/chunk-SKNKB5VI.mjs
/frontend src/node_modules/react-router/dist/development/dom-export.js
/frontend src/node_modules/react-router/dist/development/dom-export.mjs
/frontend src/node_modules/react-router/dist/development/index-react-server-client.js
/frontend src/node_modules/react-router/dist/development/index-react-server-client.mjs
/frontend src/node_modules/react-router/dist/development/index-react-server.js
/frontend src/node_modules/react-router/dist/development/index-react-server.mjs
/frontend src/node_modules/react-router/dist/development/index.js
/frontend src/node_modules/react-router/dist/development/index.mjs
/frontend src/node_modules/react-router/dist/development/lib/types/internal.js
/frontend src/node_modules/react-router/dist/development/lib/types/internal.mjs
/frontend src/node_modules/react-router/dist/production/chunk-3SXVZXGI.js
/frontend src/node_modules/react-router/dist/production/chunk-HMYSPRGR.js
/frontend src/node_modules/react-router/dist/production/chunk-P25HWPOZ.mjs
/frontend src/node_modules/react-router/dist/production/chunk-RCAZODXZ.mjs
/frontend src/node_modules/react-router/dist/production/dom-export.js
/frontend src/node_modules/react-router/dist/production/dom-export.mjs
/frontend src/node_modules/react-router/dist/production/index-react-server-client.js
/frontend src/node_modules/react-router/dist/production/index-react-server-client.mjs
/frontend src/node_modules/react-router/dist/production/index-react-server.js
/frontend src/node_modules/react-router/dist/production/index-react-server.mjs
/frontend src/node_modules/react-router/dist/production/index.js
/frontend src/node_modules/react-router/dist/production/index.mjs
/frontend src/node_modules/react-router/dist/production/lib/types/internal.js
/frontend src/node_modules/react-router/dist/production/lib/types/internal.mjs
/frontend src/node_modules/react-router-dom/dist/index.js
/frontend src/node_modules/react-router-dom/dist/index.mjs
/frontend src/node_modules/react-router-dom/LICENSE.md
/frontend src/node_modules/react-router-dom/README.md
/frontend src/node_modules/react-toastify/
/frontend src/node_modules/rollup/
/frontend src/node_modules/snake-case/
/frontend src/node_modules/source-map-js/
/frontend src/node_modules/strip-json-comments/
/frontend src/node_modules/tinyglobby/dist/index.cjs
/frontend src/node_modules/tinyglobby/dist/index.mjs
/frontend src/node_modules/tinyglobby/LICENSE
/frontend src/node_modules/tinyglobby/README.md
/frontend src/node_modules/tslib/
/frontend src/node_modules/tslib/modules/index.js
/frontend src/node_modules/uri-js/
/frontend src/node_modules/vite/
/frontend src/node_modules/vite-plugin-svgr/
/frontend src/node_modules/yocto-queue/
/target/